<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="robots" content="noindex, nofollow">
    
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q88V78T8Z7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q88V78T8Z7');
    </script>
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>© {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </footer>

    <script type="module">
      // 引入 Mermaid 库
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

      // 初始化 Mermaid (可以添加配置选项)
      // 例如，设置主题: mermaid.initialize({ startOnLoad: true, theme: 'neutral' });
      // 可选主题: 'default', 'neutral', 'dark', 'forest', 'base' (需要额外 CSS 或配置)
      mermaid.initialize({ startOnLoad: true });

    </script>
    </body>
</html>